# Core Pandas

In [1]:
# series is a data structure that holds an array along with a named index
# this is what makes it so unique compared to a asimply numpy array

# the Panda series adds a label index to the array
# makes it much easier to grab data with meaningful labels

# the data is still numerically organized
# we can grab data with numerical or label index

In [2]:
import numpy as np
import pandas as pd

Creating panda series from lists

In [3]:
myindex = ['USA', 'Canada', 'Mexico']

In [4]:
mydata = [1776,1867,1821]

In [5]:
myser = pd.Series(data=mydata)

In [6]:
myser

0    1776
1    1867
2    1821
dtype: int64

In [7]:
type(myser)

pandas.core.series.Series

In [12]:
myser = pd.Series(data=mydata, index=myindex)
#as long as the args are passed in at the correct order, we don't need to add the labels
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [13]:
myser[0] #access elements using the numeric index

1776

In [14]:
myser['USA'] #access elements using the labeled index

1776

Creating panda series from a dictionary

In [15]:
ages = {'Sam':5, 'Frank':10, 'Spike':7}

In [18]:
pd.Series(ages)
#pandas automatically makes the dic keys the label index and the value the data

Sam       5
Frank    10
Spike     7
dtype: int64

In [19]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [20]:
sales_q1 = pd.Series(q1)
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [21]:
sales_q2 = pd.Series(q2)
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [22]:
sales_q1['Japan']

80

In [23]:
sales_q1[0]

80

In [24]:
# how to see what our labeled index is
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [27]:
[1,2] * 2 #operation doubles/dulpicates the list

[1, 2, 1, 2]

In [26]:
np.array([1,2]) * 2 #example of the oepration being broadcasted

array([2, 4])

In [28]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [29]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [30]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [36]:
# using the pandas add method, we can deal with missing values
first_half = sales_q1.add(sales_q2, fill_value=0) #fill value is 0 b/c we didnt make any sales if data is missing

In [37]:
sales_q1.dtype #dtype is an attribute of panda series, not a method

dtype('int64')

In [38]:
first_half.dtype

dtype('float64')

# Pandas DataFrames

DataFrame is a table of rows and columns that we can easily filter/restructure

Formal Definition: group of Pandas Series objects that SHARE the sae