In [4]:
# this is how you leave a comment

In [5]:
1 -

SyntaxError: invalid syntax (3243246576.py, line 1)

In [6]:
1 - 2

-1

In [7]:
# python uses snake-casing for its variable use
name_of_var = 2
name_of_var

2

In [8]:
#how to print things
x = "hello"
print(x)
# in jupyter notebook, when using print, there is no quotes around string and no out label

hello

In [9]:
name = "Ilia Azari"

In [10]:
print("Hello my name is {}".format(name))

Hello my name is Ilia Azari

In [11]:
number = 12

In [14]:
print("Hello my name is {} and my number is {}".format(name, number))

Hello my name is Ilia Azari and my number is 12

In [15]:
print("Hello my name is {x} and my number is {y}".format(x=name, y=number))

Hello my name is Ilia Azari and my number is 12

In [16]:
print("Hello my name is {y} and my number is {y}".format(x=name, y=number))

Hello my name is 12 and my number is 12

In [19]:
# LIST
my_list = [1,2,3]

In [20]:
print(my_list)

[1, 2, 3]

In [21]:
my_list

[1, 2, 3]

In [22]:
my_list.append(4)

In [23]:
#how to slice a list
# we can use the following notation [0:2] which is the following [0,2)
second_list = my_list[0:2]

In [24]:
print(second_list)

[1, 2]

In [25]:
my_list

[1, 2, 3, 4]

In [26]:
# nested lists
nested = [1,2,['a','b']]

In [27]:
nested[2][0]

'a'

In [29]:
#dictionaries are a hash table (hashMap) that consists of a (key,value) pair

d = {'key':10,'key2':'secondItem'}

In [30]:
d['key2']

'secondItem'

In [31]:
True

True

In [33]:
False

False

In [34]:
t = (1,2,3)

In [38]:
# lists are mutable [1,2,3]
# tuples are immutable (1,2,3)

In [41]:
# sets are an unordered collection of unique elements
# each element has 1 member
s = {1,1,1,1,1,4,4,5,5,6,7,7,32325}
print(s)

{1, 4, 5, 6, 7, 32325}

In [42]:
s

{1, 4, 5, 6, 7, 32325}

In [43]:
# the repeat items are not repeated

In [44]:
import math
math.acos(0)

1.5707963267948966

In [46]:
math.sqrt(9)

3.0

In [47]:
#Comparison Operators
1 > 2

False

In [50]:
1 == 1

True

In [48]:
2 < 3

True

In [49]:
4 >= 5

False

In [54]:
# logical operators: "and" / "or"
# python doesnt have != for not equal same as in Java
# except python uses and not

In [52]:
(1==2) and (1==1)

False

In [53]:
(1==2) or (1==1)

True

In [55]:
# indentation is important for control statements if, elif, and else

In [58]:
if (1==2):
    print("hello")
elif 2==2:
    print("two")
else:
    print("if statement was not true")

two

In [59]:
# for loops

In [60]:
seq = [1,2,3,4,5]

In [61]:
for item in seq:
    print(item)

1
2
3
4
5

In [63]:
for num in seq:
    print(num**2)

1
4
9
16
25

In [74]:
# while loops
i = 1
while i < 5:
    print("i is currently {}.".format(i))
    i +=1

i is currently 1.
i is currently 2.
i is currently 3.
i is currently 4.

In [76]:
#range(n) function
# it returns a seq of num from 0 to n-1. [0,n)

In [77]:
range(5)

range(0, 5)

In [78]:
range_list = list(range(1,11))

In [79]:
print(range_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
x = [1,2,3]
# list comprehension
# it is like a squished for loop inside a list
list_comprehension_list = [num**2 for num in x]
list_comprehension_list

[1, 4, 9]

In [83]:
def my_func(param):
    print(param)

In [84]:
my_func('Jose')

Jose

In [87]:
def my_func(param= 'default'):
    """
    Docstring goes here, which explains what it's going
    
    """
    print(param)
    """
    this prints the param
    """

In [88]:
# in order to write documentation quotes similar to \* *\ in java,
# we use the triple "" such as this """ """

In [90]:
my_func("ilia")

ilia

In [91]:
def my_func(num = 2):
    """
    Docstring goes here, which explains what it's going
    
    """
    return num*2
    # the return statements allows me to assign it to a variable

In [92]:
my_func(5)

10

In [93]:
my_func()

4

In [94]:
# lambda functions
# these are temporary functions without a name that are used once

In [110]:
# what a general functions looks like
def times_two (var):
    return var*2

# this is the corresponding lambda expression
# we remove the def keyword and change it to lambda
# we remove the function name
# lambda expressions are really useful when used inside other bigger funcs
# as an input argument
lam_result = lambda var: var*2

In [111]:
result = times_two(4)
result

8

In [112]:
print(lam_result)

<function <lambda> at 0x000001EE901A2310>

In [113]:
seq = [1,2,3,4,5]

In [115]:
# just using the function name
list(map(times_two,seq))

[2, 4, 6, 8, 10]

In [116]:
# using the lambda expression
list(map(lambda var: var*2, seq))

[2, 4, 6, 8, 10]

In [118]:
# map takes a function and a pointer to an iterable collection to create new objects
# filter is similar to a map but creates objects based on a condition

In [119]:
def is_even(num):
    return num%2 == 0

In [121]:
# using the filter function and another function (and its name) for our condition
list(filter(is_even,seq))

[2, 4]

In [122]:
# same example as above but using a lambda expression
list(filter(lambda num: num%2==0,seq))

[2, 4]

In [123]:
# Useful Methods

In [124]:
st = 'hello my name is Ilia'

In [125]:
st.lower()

'hello my name is ilia'

In [126]:
st.upper()

'HELLO MY NAME IS ILIA'

In [127]:
st_upper = st.upper()
print(st_upper)

HELLO MY NAME IS ILIA

In [128]:
tweet = "Go Sports! #cool"

In [130]:
# by default, it returns a sequence of strings split at the space, the white space
tweet.split()

['Go', 'Sports!', '#cool']

In [132]:
# returns a sequence/list of strings split at the #, or any other identified character
tweet.split("#")

['Go Sports! ', 'cool']

In [133]:
d

{'key': 10, 'key2': 'secondItem'}